---
http_interactions:
  - request:
      method: get
      uri: https://api.openalex.org/works/https://doi.org/10.1145/3174781.3174785
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Api-Pool:
          - common
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":"https://openalex.org/W2785752813","doi":"https://doi.org/10.1145/3174781.3174785","title":"\"I
          know it when I see it\" Perceptions of Code Quality","display_name":"\"I know
          it when I see it\" Perceptions of Code Quality","publication_year":2018,"publication_date":"2018-01-30","ids":{"openalex":"https://openalex.org/W2785752813","doi":"https://doi.org/10.1145/3174781.3174785","mag":"2785752813"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1145/3174781.3174785","pdf_url":"http://dl.acm.org/ft_gateway.cfm?id=3174785&type=pdf","source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"type":"article","type_crossref":"proceedings-article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"http://dl.acm.org/ft_gateway.cfm?id=3174785&type=pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5091158126","display_name":"J\u00fcrgen
          B\u00f6rstler","orcid":"https://orcid.org/0000-0003-0639-4234"},"institutions":[{"id":"https://openalex.org/I52719799","display_name":"Blekinge
          Institute of Technology","ror":"https://ror.org/0093a8w51","country_code":"SE","type":"education","lineage":["https://openalex.org/I52719799"]}],"countries":["SE"],"is_corresponding":false,"raw_author_name":"J\u00fcrgen
          B\u00f6rstler","raw_affiliation_strings":["Blekinge Institute of Technology,
          Karlskrona, Sweden"],"affiliations":[{"raw_affiliation_string":"Blekinge Institute
          of Technology, Karlskrona, Sweden","institution_ids":["https://openalex.org/I52719799"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5061309019","display_name":"Harald
          St\u00f6rrle","orcid":null},"institutions":[],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Harald
          St\u00f6rrle","raw_affiliation_strings":["QAware GmbH, Munich, Germany"],"affiliations":[{"raw_affiliation_string":"QAware
          GmbH, Munich, Germany","institution_ids":[]}]},{"author_position":"middle","author":{"id":"h[...]
  - request:
      method: get
      uri: https://api.openalex.org/authors/A5023888391
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Api-Pool:
          - common
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":"https://openalex.org/A5023888391","orcid":"https://orcid.org/0000-0001-6187-6610","display_name":"Jason
          Priem","display_name_alternatives":["Priem Jason","Jason Priem"],"works_count":62,"cited_by_count":3457,"summary_stats":{"2yr_mean_citedness":12.333333333333334,"h_index":17,"i10_index":18},"ids":{"openalex":"https://openalex.org/A5023888391","orcid":"https://orcid.org/0000-0001-6187-6610","scopus":"http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS"},"affiliations":[{"institution":{"id":"https://openalex.org/I4200000001","ror":"https://ror.org/02nr0ka47","display_name":"OurResearch","country_code":"CA","type":"nonprofit","lineage":["https://openalex.org/I4200000001"]},"years":[2023,2022,2021,2019]},{"institution":{"id":"https://openalex.org/I4210129766","ror":"https://ror.org/03np5z244","display_name":"DermResearch
          (United States)","country_code":"US","type":"company","lineage":["https://openalex.org/I4210129766"]},"years":[2022]},{"institution":{"id":"https://openalex.org/I145311948","ror":"https://ror.org/00za53h95","display_name":"Johns
          Hopkins University","country_code":"US","type":"education","lineage":["https://openalex.org/I145311948"]},"ye[...]
