---
http_interactions:
  - request:
      method: get
      uri: https://api.openalex.org/works?cursor=*&filter=cites:W2785752813&per-page=200
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Api-Pool:
          - common
      body:
        encoding: ASCII-8BIT
        string:
          '{"meta":{"count":25,"db_response_time_ms":78,"page":null,"per_page":200,"next_cursor":"Ils2My4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzMTI1NjAzODYnXSI=","groups_count":null},"results":[{"id":"https://openalex.org/W4381586920","doi":"https://doi.org/10.1145/3636515","title":"Automated
          Grading and Feedback Tools for Programming Education: A Systematic Review","display_name":"Automated
          Grading and Feedback Tools for Programming Education: A Systematic Review","publication_year":2024,"publication_date":"2024-02-19","ids":{"openalex":"https://openalex.org/W4381586920","doi":"https://doi.org/10.1145/3636515"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1145/3636515","pdf_url":null,"source":{"id":"https://openalex.org/S2764465379","display_name":"ACM
          Transactions on Computing Education","issn_l":"1946-6226","issn":["1946-6226"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319798","host_organization_name":"Association
          for Computing Machinery","host_organization_lineage":["https://openalex.org/P4310319798"],"host_organization_lineage_names":["Association
          for Computing Machinery"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"type":"review","type_crossref":"journal-article","indexed_in":["arxiv","crossref","datacite"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://doi.org/10.1145/3636515","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5037139134","display_name":"Marcus
          Messer","orcid":"https://orcid.org/0000-0001-5915-9153"},"institutions":[{"id":"https://openalex.org/I183935753","display_name":"King''s
          College London","ror":"https://ror.org/0220mzb33","country_code":"GB","type":"education","lineage":["https://openalex.org/I124357947","https://openalex.org/I183935753"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"Marcus
          Messer","raw_affiliation_strings":["King''s College London, UK"],"affiliations":[{"raw_affiliation_string":"King''s
          College London, UK","institution_ids":["https://openalex.org/I183935753"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5056326360","display_name":"Neil
          C. C. Brown","orcid":"https://orcid.org/0000-0001-6086-2479"},"institutions":[{"id":"https://openalex.org/I183935753","display_name":"King''s
          College London","ror":"https://ror.org/0220mzb33","country_code":"GB","type":"education","lineage":["https://openalex.org/I124357947","https://openalex.org/I183935753"]}],"countries":["GB"],"is_corres[...]
  - request:
      method: get
      uri: https://api.openalex.org/works?cursor=Ils2My4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzMTI1NjAzODYnXSI=&filter=cites:W2785752813&per-page=200
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Api-Pool:
          - common
      body:
        encoding: UTF-8
        string:
          '{"meta":{"count":25,"db_response_time_ms":45,"page":null,"per_page":200,"next_cursor":null,"groups_count":null},"results":[],"group_by":[]}

          '
    recorded_at: Mon, 05 Aug 2024 17:54:01 GMT
recorded_with: VCR 6.2.0
