---
http_interactions:
  - request:
      method: get
      uri: https://api.openalex.org/authors/A5023888391
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Api-Pool:
          - common
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":"https://openalex.org/A5023888391","orcid":"https://orcid.org/0000-0001-6187-6610","display_name":"Jason
          Priem","display_name_alternatives":["Priem Jason","Jason Priem"],"works_count":62,"cited_by_count":2844,"summary_stats":{"2yr_mean_citedness":12.333333333333334,"h_index":17,"i10_index":18},"ids":{"openalex":"https://openalex.org/A5023888391","orcid":"https://orcid.org/0000-0001-6187-6610","scopus":"http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS"},"affiliations":[{"institution":{"id":"https://openalex.org/I4200000001","ror":"https://ror.org/02nr0ka47","display_name":"OurResearch","country_code":"CA","type":"nonprofit","lineage":["https://openalex.org/I4200000001"]},"years":[2023,2022,2021,2019]},{"institution":{"id":"https://openalex.org/I145311948","ror":"https://ror.org/00za53h95","display_name":"Johns
          Hopkins University","country_code":"US","type":"education","lineage":["https://openalex.org/I145311948"]},"years":[2020]},{"institution":{"id":"https://openalex.org/I103163165","ror":"https://ror.org/05g3dte14","display_name":"Florida
          State University","country_code":"US","type":"education","lineage":["https://openalex.org/I103163165"]},"years"[...]
