---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=authorships.author.id:A5023888391&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":62,"db_response_time_ms":49,"page":null,"per_page":200,"next_cursor":"Ils2My4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQyODg2ODA2OTcnXSI=","groups_count":null},"results":[{"id":"https://openalex.org/W2741809807","doi":"https://doi.org/10.7717/peerj.4375","title":"The
        state of OA: a large-scale analysis of the prevalence and impact of Open Access
        articles","display_name":"The state of OA: a large-scale analysis of the prevalence
        and impact of Open Access articles","publication_year":2018,"publication_date":"2018-02-13","ids":{"openalex":"https://openalex.org/W2741809807","doi":"https://doi.org/10.7717/peerj.4375","mag":"2741809807","pmid":"https://pubmed.ncbi.nlm.nih.gov/29456894","pmcid":"https://www.ncbi.nlm.nih.gov/pmc/articles/5815332"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.7717/peerj.4375","pdf_url":"https://peerj.com/articles/4375.pdf","source":{"id":"https://openalex.org/S1983995261","display_name":"PeerJ","issn_l":"2167-8359","issn":["2167-8359"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310320104","host_organization_name":"PeerJ,
        Inc.","host_organization_lineage":["https://openalex.org/P4310320104"],"host_organization_lineage_names":["PeerJ,
        Inc."],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true},"type":"article","type_crossref":"journal-article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://peerj.com/articles/4375.pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5048491430","display_name":"Heather
        Piwowar","orcid":"https://orcid.org/0000-0003-1613-5981"},"institutions":[{"id":"https://openalex.org/I4210166736","display_name":"Impact
        Technology Development (United States)","ror":"https://ror.org/05ppvf150","country_code":"US","type":"company","lineage":["https://openalex.org/I4210166736"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Heather
        Piwowar","raw_affiliation_strings":["Impactstory, Sanford, NC, USA"],"affiliations":[{"raw_affiliation_string":"Impactstory,
        Sanford, NC, USA","institution_ids":["https://openalex.org/I4210166736"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5023888391","display_name":"Jason
        Priem","orcid":"https://orcid.org/0000-0001-6187-6610"},"institutions":[{"id":"https://openalex.org/I4210166736","display_name":"Impact
        Technology Development (United States)","ror":"https://ror.org/05ppvf150","country_code":"US","type":"company","lineage":["https://openalex.org/I4210166736"]}],"countries":["US"],"is_corresponding":false,"raw[...]
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=Ils2My4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQyODg2ODA2OTcnXSI=&filter=authorships.author.id:A5023888391&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: UTF-8
      string: '{"meta":{"count":62,"db_response_time_ms":19,"page":null,"per_page":200,"next_cursor":null,"groups_count":null},"results":[],"group_by":[]}

        '
  recorded_at: Mon, 12 Aug 2024 19:33:49 GMT
recorded_with: VCR 6.2.0
