---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1086/227049
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,4,26]],"date-time":"2024-04-26T12:27:01Z","timestamp":1714134421162},"reference-count":0,"publisher":"University
        of Chicago Press","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["American
        Journal of Sociology"],"published-print":{"date-parts":[[1979,11]]},"DOI":"10.1086\/227049","type":"journal-article","created":{"date-parts":[[2002,7,26]],"date-time":"2002-07-26T19:19:33Z","timestamp":1027711173000},"page":"551-575","source":"Crossref","is-referenced-by-count":3128,"title":["Emotion
        Work, Feeling Rules, and Social Structure"],"prefix":"10.1086","volume":"85","author":[{"given":"Arlie
        Russell","family":"Hochschild","sequence":"first","affiliation":[]}],"member":"200","container-title":["American
        Journal of Sociology"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/www.journals.uchicago.edu\/doi\/pdf\/10.1086\/227049","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,4,7]],"date-time":"2018-04-07T05:29:20Z","timestamp":1523078960000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.journals.uchicago.edu\/doi\/10.1086\/227049"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1979,11]]},"references-count":0,"journal-issue":{"issue":"3","published-print":{"date-parts":[[1979,11]]}},"alternative-id":["10.1086\/227049"],"URL":"http:\/\/dx.doi.org\/10.1086\/227049","relation":{},"ISSN":["0002-9602","1537-5390"],"issn-type":[{"value":"0002-9602","type":"print"},{"value":"1537-5390","type":"electronic"}],"subject":[],"published":{"date-parts":[[1979,11]]}}}'
  recorded_at: Fri, 26 Apr 2024 19:13:47 GMT
recorded_with: VCR 6.2.0
