---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/J.COMPOSITESB.2018.01.027
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - alex.boyd@gwu.edu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,4,30]],"date-time":"2024-04-30T13:06:13Z","timestamp":1714482373125},"reference-count":363,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2019,2,3]],"date-time":"2019-02-03T00:00:00Z","timestamp":1549152000000},"content-version":"am","delay-in-days":247,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"},{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-017"},{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-037"},{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-012"},{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-029"},{"start":{"date-parts":[[2018,6,1]],"date-time":"2018-06-01T00:00:00Z","timestamp":1527811200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-004"}],"funder":[{"DOI":"10.13039\/100000006","name":"Office
        of Naval Research","doi-asserted-by":"publisher","award":["N00014-16-1-2831"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Composites
        Part B: Engineering"],"published-print":{"date-parts":[[2018,6]]},"DOI":"10.1016\/j.compositesb.2018.01.027","type":"journal-article","created":{"date-parts":[[2018,2,1]],"date-time":"2018-02-01T14:42:19Z","timestamp":1517496139000},"page":"221-240","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":511,"title":["Review
        of current trends in research and applications of sandwich structures"],"prefix":"10.1016","volume":"142","author":[{"given":"Victor","family":"Birman","sequence":"first","affiliation":[]},{"given":"George
        A.","family":"Kardomateas","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.compositesb.2018.01.027_bib1","series-title":"Sandwich
        construction","author":"Plantema","year":"1966"},{"key":"10.1016\/j.compositesb.2018.01.027_bib2","series-title":"Analysis
        and design of structural sandwich panels","author":"Allen","year":"1969"},{"key":"10.1016\/j.compositesb.2018.01.027_bib3","series-title":"An
        introduction to sandwich construction","author":"Zenkert","year":"1993"},{"key":"10.1016\/j.compositesb.2018.01.027_bib4","series-title":"The
        behavior of sandwich structures of isotropic and composite materials","author":"Vinson","year":"1999"},{"issue":"3","key":"10.1016\/j.compositesb.2018.01.027_bib5","doi-asserted-by":"crossref","first-page":"155","DOI":"10.1115\/1.3101923","article-title":"Computational
        models for sandwich panels and shells","volume":"49","author":"Noor","year":"1996","journal-title":"Appl
        Mech Rev"},{"issue":"4","key":"10.1016\/j.compositesb.2018.01.027_bib6","first-page":"207","article-title":"A
        review of low-velocity impact on sandwich structures. Proceedings of the Institution
        of Mechanical Engineers","volume":"225","author":"Chai","year":"2011","journal-title":"Part
        L: Journal of Materials: Design and Applications"},{"key":"10.1016\/j.compositesb.2018.01.027_bib7","doi-asserted-by":"crossref","first-page":"36","DOI":"10.1016\/j.compositesa.2014.04.010","article-title":"Nondestructive
        evaluation of thick-section composites and sandwich structures: a review","volume":"64","author":"Ibrahim","year":"2014","journal-title":"Compos
        Appl Sci Manuf"},{"issue":"4","key":"10.1016\/j.compositesb.2018.01.027_bib8","doi-asserted-by":"crossref","first-page":"275","DOI":"10.1177\/1099636209105377","article-title":"Nondestructive
        evaluation of sandwich structures: a review of some inspection techniques","volume":"11","author":"Hsu","year":"2009","journal-title":"J
        Sandw Struct Mater"},{"issue":"15","key":"10.1016\/j.compositesb.2018.01.027_bib9","doi-asserted-by":"crossref","first-page":"2003","DOI":"10.1177\/1045389X15620041","article-title":"Dynamic
        characteristics and control of magnetorheological\/electrorheological sandwich
        structures: a state-of-the-art review","volume":"27","author":"Eshaghi","year":"2016","journal-title":"J
        Intell Mater Syst Struct"},{"key":"10.1016\/j.compositesb.2018.01.027_bib10","doi-asserted-by":"crossref","first-page":"486","DOI":"10.1016\/j.compstruct.2017.03.053","article-title":"Bending,
        buckling and free vibration of laminated composite and sandwich beams: a critical
        review of literature","volume":"171","author":"Sayyad","year":"2017","journal-title":"Compos
        Struct[...]
