---
http_interactions:
- request:
    method: get
    uri: https://api.semanticscholar.org/graph/v1/paper/10.1016/J.COMPOSITESB.2018.01.027?fields=paperId,corpusId,url,title,venue,publicationVenue,year,authors,externalIds,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationTypes,publicationDate,journal,citationStyles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<semantic_scholar_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9d93f2f0-8828-48af-8f7c-9dddf0cfc11a
      X-Amzn-Remapped-Content-Length:
      - '1442'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XDcIPETIPHcEAJQ=
      X-Amzn-Remapped-Server:
      - gunicorn
      X-Amzn-Remapped-Date:
      - Tue, 30 Apr 2024 19:03:54 GMT
    body:
      encoding: UTF-8
      string: '{"paperId": "22d840026482e82dce65c5d0f91eb72b7b7bba1e", "externalIds":
        {"MAG": "2792655768", "DOI": "10.1016/J.COMPOSITESB.2018.01.027", "CorpusId":
        139236155}, "corpusId": 139236155, "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/22d840026482e82dce65c5d0f91eb72b7b7bba1e",
        "title": "Review of current trends in research and applications of sandwich
        structures", "venue": "Composites Part B: Engineering", "year": 2018, "referenceCount":
        364, "citationCount": 502, "influentialCitationCount": 5, "isOpenAccess":
        true, "openAccessPdf": {"url": "http://manuscript.elsevier.com/S1359836817339781/pdf/S1359836817339781.pdf",
        "status": "HYBRID"}, "fieldsOfStudy": ["Materials Science"], "s2FieldsOfStudy":
        [{"category": "Materials Science", "source": "external"}, {"category": "Engineering",
        "source": "s2-fos-model"}, {"category": "Materials Science", "source": "s2-fos-model"}],
        "publicationTypes": ["Review"], "publicationDate": "2018-06-01", "journal":
        {"name": "Composites Part B: Engineering"}, "citationStyles": {"bibtex": "@Article{Birman2018ReviewOC,\n
        author = {V. Birman and G. Kardomateas},\n booktitle = {Composites Part B:
        Engineering},\n journal = {Composites Part B: Engineering},\n title = {Review
        of current trends in research and applications of sandwich structures},\n
        year = {2018}\n}\n"}, "authors": [{"authorId": "6990685", "name": "V. Birman"},
        {"authorId": "93583515", "name": "G. Kardomateas"}]}

        '
  recorded_at: Tue, 30 Apr 2024 19:03:54 GMT
- request:
    method: get
    uri: https://api.semanticscholar.org/graph/v1/paper/10.1016/J.COMPOSITESB.2018.01.027/citations?fields=paperId,corpusId,url,title,venue,publicationVenue,year,authors,externalIds,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationTypes,publicationDate,journal,citationStyles&limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<semantic_scholar_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ec7b5252-4599-4541-b157-f4bfc8da1cef
      X-Amzn-Remapped-Content-Length:
      - '905840'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XDcIRG-QvHcEXcA=
      X-Amzn-Remapped-Server:
      - gunicorn
      X-Amzn-Remapped-Date:
      - Tue, 30 Apr 2024 19:03:57 GMT
    body:
      encoding: UTF-8
      string: '{"offset": 0, "data": [{"citingPaper": {"paperId": "c889f3d2370b970deca41e028370adbb956255e9",
        "externalIds": {"DOI": "10.1016/j.engfailanal.2024.108277", "CorpusId": 268846098},
        "corpusId": 268846098, "publicationVenue": {"id": "5cab067b-fcd9-4154-88da-6eb14ed174e9",
        "name": "Engineering Failure Analysis", "type": "journal", "alternate_names":
        ["Eng Fail Anal"], "issn": "1350-6307", "url": "https://www.journals.elsevier.com/engineering-failure-analysis",
        "alternate_urls": ["http://www.sciencedirect.com/science/journal/13506307"]},
        "url": "https://www.semanticscholar.org/paper/c889f3d2370b970deca41e028370adbb956255e9",
        "title": "Influence of structural geometry on tensile properties and fracture
        toughness in 3D printed novel structures", "venue": "Engineering Failure Analysis",
        "year": 2024, "referenceCount": 47, "citationCount": 0, "influentialCitationCount":
        0, "isOpenAccess": false, "openAccessPdf": null, "fieldsOfStudy"[...]
