---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=cited_by:W2785752813&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":24,"db_response_time_ms":38,"page":null,"per_page":200,"next_cursor":"Ils4NC4wLCA1LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzIzOTY2MDE3ODgnXSI=","groups_count":null},"results":[{"id":"https://openalex.org/W2465021265","doi":"https://doi.org/10.1145/2899415.2899422","title":"Towards
        a Systematic Review of Automated Feedback Generation for Programming Exercises","display_name":"Towards
        a Systematic Review of Automated Feedback Generation for Programming Exercises","publication_year":2016,"publication_date":"2016-07-11","ids":{"openalex":"https://openalex.org/W2465021265","doi":"https://doi.org/10.1145/2899415.2899422","mag":"2465021265"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1145/2899415.2899422","pdf_url":"http://dl.acm.org/ft_gateway.cfm?id=2899422&type=pdf","source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"type":"review","type_crossref":"proceedings-article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"http://dl.acm.org/ft_gateway.cfm?id=2899422&type=pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5052659996","display_name":"Hieke
        Keuning","orcid":"https://orcid.org/0000-0001-5778-7519"},"institutions":[{"id":"https://openalex.org/I7876267","display_name":"Open
        University in the Netherlands","ror":"https://ror.org/018dfmf50","country_code":"NL","type":"education","lineage":["https://openalex.org/I7876267"]}],"countries":["NL"],"is_corresponding":false,"raw_author_name":"Hieke
        Keuning","raw_affiliation_strings":["Open University, Heerlen, Netherlands"],"affiliations":[{"raw_affiliation_string":"Open
        University, Heerlen, Netherlands","institution_ids":["https://openalex.org/I7876267"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5011892251","display_name":"Johan
        Jeuring","orcid":"https://orcid.org/0000-0001-5645-7681"},"institutions":[{"id":"https://openalex.org/I193662353","display_name":"Utrecht
        University","ror":"https://ror.org/04pp8hn57","country_code":"NL","type":"education","lineage":["https://openalex.org/I193662353"]}],"countries":["NL"],"is_corresponding":false,"raw_author_name":"Johan
        Jeuring","raw_affiliation_strings":["Utrecht University, Utrecht, Netherlands"],"affiliations":[{"raw_affiliation_string":"Utrecht
        University, Utrecht, Netherlands","institution_ids":["https://openalex.org/I193662353"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5040746546","display_name":"Bastiaan
        Heeren","orcid":"https://orcid.org/0000-0001-6647-6130"},"institutions":[{"id":"https://openalex.org/I7876267","display_name":"Open
        University in the Netherlands","ror":"https://ror.org/018dfmf50","country_code":"NL","type":"education","lineage":["https://openalex.org/I7876267"]}],"countries":["NL"],"is_corresponding":false,"raw_author_name":"Bastiaan
        Heeren","raw_affiliation_strings":["Open University, Heerlen, Netherlands"],"affiliations":[{"raw_affiliation_string":"Open
        University, Heerlen, Netherlands","institution_ids":["https://openalex.org/I7876267"]}]}],"countries_distinct_count":1,"institutions_distinct_count":2,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":2.97,"has_fulltext":true,"fulltext_origin":"ngrams","cited_by_count":107,"cited_by_percentile_year":{"min":98,"max":99},"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"primary_topic":{"id":"https://openalex.org/T10533","display_name":"Computational
        Thinking in Education","score":1.0,"subfield":{"id":"https://openalex.org/subfields/1706","display_name":"Computer
        Science Applications"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T10533","display_name":"Computational
        Thinking in Education","score":1.0,"subfield":{"id":"https://openalex.org/subfields/1706","display_name":"Computer
        Science Applications"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T10743","display_name":"Automated
        Software Testing Techniques","score":0.988,"subfield":{"id":"https://openalex.org/subfields/1712","display_name":"Software"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11283","display_name":"Remote Laboratories
        in Engineering Education","score":0.9774,"subfield":{"id":"https://openalex.org/subfields/2214","display_name":"Media
        Technology"},"field":{"id":"https://openalex.org/fields/22","display_name":"Engineering"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/programming-education","display_name":"Programming
        Education","score":0.544636},{"id":"https://openalex.org/keywords/educational-robotics","display_name":"Educational
        Robotics","score":0.526179},{"id":"https://openalex.org/keywords/learning-analytics","display_name":"Learning
        Analytics","score":0.517761}],"concepts":[{"id":"https://openalex.org/C42525527","wikidata":"https://www.wikidata.org/wiki/Q1209955","display_name":"Formative
        assessment","level":2,"score":0.89487934},{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer
        science","level":0,"score":0.78895724},{"id":"https://openalex.org/C2779038628","wikidata":"https://www.wikidata.org/wiki/Q7248497","display_name":"Programming
        by demonstration","level":3,"score":0.4187582},{"id":"https://openalex.org/C107457646","wikidata":"https://www.wikidata.org/wiki/Q207434","display_name":"Human\u2013computer
        interaction","level":1,"score":0.40858346},{"id":"https://openalex.org/C49774154","wikidata":"https://www.wikidata.org/wiki/Q131765","display_name":"Multimedia","level":1,"score":0.39393112},{"id":"https://openalex.org/C154945302","wikidata":"https://www.wikidata.org/wiki/Q11660","display_name":"Artificial
        intelligence","level":1,"score":0.30413067},{"id":"https://openalex.org/C145420912","wikidata":"https://www.wikidata.org/wiki/Q853077","display_name":"Mathematics
        education","level":1,"score":0.09430015},{"id":"https://openalex.org/C33923547","wikidata":"https://www.wikidata.org/wiki/Q395","display_name":"Mathematics","level":0,"score":0.0},{"id":"https://openalex.org/C90509273","wikidata":"https://www.wikidata.org/wiki/Q11012","display_name":"Robot","level":2,"score":0.0}],"mesh":[],"locations_count":1,"locations":[{"is_oa":true,"landing_page_url":"https://doi.org/10.1145/2899415.2899422","pdf_url":"http://dl.acm.org/ft_gateway.cfm?id=2899422&type=pdf","source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true}],"best_oa_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1145/2899415.2899422","pdf_url":"http://dl.acm.org/ft_gateway.cfm?id=2899422&type=pdf","source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"sustainable_development_goals":[{"display_name":"Quality
        education","score":0.8,"id":"https://metadata.un.org/sdg/4"}],"grants":[{"funder":"https://openalex.org/F4320321800","funder_display_name":"Nederlandse
        Organisatie voor Wetenschappelijk Onderzoek","award_id":"023.005.063"}],"datasets":[],"versions":[],"referenced_works_count":18,"referenced_works":["https://openalex.org/W173029385","https://openalex.org/W1983352506","https://openalex.org/W1995668365","https://openalex.org/W2001079735","https://openalex.org/W2011607672","https://openalex.org/W2012761058","https://openalex.org/W2018298139","https://openalex.org/W2024916065","https://openalex.org/W2050525049","https://openalex.org/W2051257341","https://openalex.org/W2057085632","https://openalex.org/W2070405152","https://openalex.org/W207841007","https://openalex.org/W2112134731","https://openalex.org/W2135995390","https://openalex.org/W2151828850","https://openalex.org/W2238850878","https://openalex.org/W4298884035"],"related_works":["https://openalex.org/W609482051","https://openalex.org/W4386050096","https://openalex.org/W3210736515","https://openalex.org/W3199325201","https://openalex.org/W2941509167","https://openalex.org/W2792035366","https://openalex.org/W2390109066","https://openalex.org/W2360976019","https://openalex.org/W2351166673","https://openalex.org/W2052179001"],"ngrams_url":"https://api.openalex.org/works/W2465021265/ngrams","abstract_inverted_index":{"Formative":[0],"feedback,":[1,51],"aimed":[2],"at":[3],"helping":[4],"students":[5],"to":[6,35,48,68,78,125],"improve":[7],"their":[8,126],"work,":[9],"is":[10,42],"an":[11],"important":[12],"factor":[13],"in":[14,94],"learning.":[15],"Many":[16],"tools":[17,60,104,124],"that":[18,103,119],"offer":[19],"programming":[20],"exercises":[21],"provide":[22],"automated":[23],"feedback":[24,41,55,75,80,109],"on":[25,84,110],"student":[26],"solutions.":[27],"We":[28,63,82,100],"are":[29,46,61],"performing":[30],"a":[31,66,115],"systematic":[32],"literature":[33],"review":[34],"find":[36],"out":[37],"what":[38],"kind":[39],"of":[40,87,91],"provided,":[43],"which":[44,95],"techniques":[45],"used":[47],"generate":[49],"the":[50,54,70,85,88],"how":[52,58],"adaptable":[53],"is,":[56],"and":[57,72,113,118],"these":[59],"evaluated.":[62],"have":[64,101],"designed":[65],"labelling":[67],"classify":[69,79],"tools,":[71],"use":[73],"Narciss''":[74],"content":[76],"categories":[77],"messages.":[81],"report":[83],"results":[86],"first":[89],"iteration":[90],"our":[92],"search":[93],"we":[96],"coded":[97],"69":[98],"tools.":[99],"found":[102],"do":[105],"not":[106],"often":[107],"give":[108],"fixing":[111],"problems":[112],"taking":[114],"next":[116],"step,":[117],"teachers":[120],"cannot":[121],"easily":[122],"adapt":[123],"own":[127],"needs.":[128]},"cited_by_api_url":"https://api.openalex.org/works?filter=cites:W2465021265","counts_by_year":[{"year":2024,"cited_by_count":6},{"year":2023,"cited_by_count":8},{"year":2022,"cited_by_count":16},{"year":2021,"cited_by_count":9},{"year":2020,"cited_by_count":10},{"year":2019,"cited_by_count":18},{"year":2018,"cited_by_count":18},{"year":2017,"cited_by_count":11},{"year":2016,"cited_by_count":1}],"updated_date":"2024-07-28T02:59:03.752095","created_date":"2016-07-22"},{"id":"https://openalex.org/W2065926773","doi":"https://doi.org/10.1007/s10664-013-9291-7","title":"Empirical
        evidence on the link between object-oriented measures and external quality
        attributes: a systematic literature review","display_name":"Empirical evidence
        on the link between object-oriented measures and external quality attributes:
        a systematic literature review","publication_year":2014,"publication_date":"2014-03-08","ids":{"openalex":"https://openalex.org/W2065926773","doi":"https://doi.org/10.1007/s10664-013-9291-7","mag":"2065926773"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.1007/s10664-013-9291-7","pdf_url":null,"source":{"id":"https://openalex.org/S109852484","display_name":"Empirical
        Software Engineering","issn_l":"1382-3256","issn":["1382-3256","1573-7616"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319900","host_organization_name":"Springer
        Science+Business Media","host_organization_lineage":["https://openalex.org/P4310319965","https://openalex.org/P4310319900"],"host_organization_lineage_names":["Springer
        Nature","Springer Science+Business Media"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5008019756","display_name":"Ronald
        Jabangwe","orcid":"https://or[...]
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=Ils4NC4wLCA1LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzIzOTY2MDE3ODgnXSI=&filter=cited_by:W2785752813&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: UTF-8
      string: '{"meta":{"count":24,"db_response_time_ms":21,"page":null,"per_page":200,"next_cursor":null,"groups_count":null},"results":[],"group_by":[]}

        '
  recorded_at: Mon, 29 Jul 2024 23:33:57 GMT
recorded_with: VCR 6.2.0
